<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />

  <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome/css/fontawesome.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome/css/brands.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome/css/solid.css')}}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

  <style>
    #brand {
      color: rgb(213, 213, 213);
    }

    #brand:hover {
      color: white;
    }

    .btn-shrink {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    .sidebar {
      transition: width 0.2s ease-in-out;
      display: block;
    }
  </style>
</head>

<body class="vh-100 overflow-hidden">
  <div class="d-flex flex-row vh-100">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="width: 280px; height: 100%;">
      <a href="/" class="d-flex align-items-center justify-content-center text-white text-decoration-none text-center ">
        <span id="brand" class="fs-3 fw-bold sidebar-title">TARUMT ITP</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="{{ url_for('studentsListing', page_num = 1) }}" class="nav-link text-white " aria-current="page">
            <i class="bi bi-people-fill" width="16" height="16"></i>
            <span class="sidebar-hide"> Students Listing</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('companyListing', page_num = 1) }}" class="nav-link text-white">
            <i class="bi bi-person-rolodex" width="16" height="16"></i>
            <span class="sidebar-hide">Company Listing</span>
          </a>
        </li>

      </ul>
      <hr>
      <div id="arrow-container" class="dropdown d-flex justify-content-between">
        <div class="dropdownUser">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>Admin</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="../ClientPage/Logout.aspx">Logout</a></li>
          </ul>
        </div>
        <button class="btn-shrink text-center"><span class="arrow bi bi-arrow-left"></span></button>
      </div>
    </div>
    <div class="vw-100 overflow-y-scroll ">
      {% block content %} {% endblock %}

    </div>
</body>
<script>
  var sidebar = document.getElementsByClassName('sidebar');
  var toggleBtn = document.getElementsByClassName('btn-shrink');
  var hideText = document.getElementsByClassName('sidebar-hide');
  var arrowContainer = document.getElementById('arrow-container');
  var arrowIcon = document.getElementsByClassName('arrow');
  var dropdownUser = document.getElementsByClassName('dropdownUser');
  var title = document.getElementsByClassName('sidebar-title');

  toggleBtn[0].addEventListener('click', function () {
    if (sidebar[0].style.width === '280px') {
      sidebar[0].style.width = '4.5rem';

      arrowContainer.classList.remove('justify-content-between');
      arrowContainer.classList.add('justify-content-center');
      arrowIcon[0].classList.remove('bi-arrow-left');
      arrowIcon[0].classList.add('bi-arrow-right');
      dropdownUser[0].style.display = "none";
      title[0].style.display = "none";
      Array.from(hideText).forEach(
        (element, index, array) => {
          element.style.display = "none";
        }
      )

    } else {
      sidebar[0].style.width = '280px';

      arrowContainer.classList.add('justify-content-between');
      arrowContainer.classList.remove('justify-content-center');
      arrowIcon[0].classList.remove('bi-arrow-right');
      arrowIcon[0].classList.add('bi-arrow-left');
      dropdownUser[0].style.display = "block";
      title[0].style.display = "flex";
      setTimeout(() => {
        Array.from(hideText).forEach(
          (element, index, array) => {
            element.style.display = "inline";
          }
        )
      }, 100);


    }
  });
</script>

<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://kit.fontawesome.com/4345d84e2d.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>

</html>