{% extends "base.html"%}
{% block title %}TARUMT ITP Portal{% endblock %}
{% block content %}
<div class="container-fluid" style="background-color: #040404;">
<div class="container vh-100 d-flex align-items-center justify-content-start" style="color: white;" >
    <div class="flex-row">
    <h1 class="">Industrial Training</h1>
    <p class="py-5">Talent Development | Internship Positions</p>
    <a href=""><button class="btn btn-primary" style="background-color: rgb(254,151,0); color: white; border-color: transparent;"><i class="fa-solid fa-magnifying-glass"></i> SEARCH INTERNSHIPS</button></a>
</div>
</div>
</div>
{% endblock %}