{% extends "base.html"%} {% block title %}TARUMT ITP Portal{% endblock %} {%
block content %}
<style>
  /* Style for the popup */
  .popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 3s;
  }

  @media (max-width: 991px) {
      #login-container{
        width: 90% !important;
      }
    }
</style>

<div class="container-fluid mt-5">
  <div class="container">
    <h1 class="text-center ">Login</h1>
    <div id="login-container" class="p-5 w-50 m-auto border-1 shadow mt-5">
      <div class="form-signin">
        <div class="row d-flex justify-content-center my-5 ">
          <img src="../static/img/tarumt-logo1.png" style="width: 320px; height: auto;" alt="">
        </div>
        <form action="{{ url_for('login') }}" method="post" class="needs-validation" novalidate>
          <div class="container">
            <div class="mb-3 row">
              <label for="emailInput" class="col-3 col-form-label">Email</label>
              <div class="col-9">
                <input type="email" name="username" id="emailInput" class="form-control"
                  placeholder="xxx-xx99@tarc.edu.my" required />
                <div class="invalid-feedback">
                  Please enter a valid email address.
                </div>
              </div>
            </div>
            <div class="mb-4 row">
              <label for="passwordInput" class="col-3 col-form-label">Password</label>
              <div class="col-9">
                <input type="password" name="password" id="passwordInput" class="form-control" required />
                <div class="invalid-feedback">
                  Please enter a valid password.
                </div>
              </div>
            </div>
            <br/>
            <div class="text-center">
              <button id="loginBtn" class="btn btn-success">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<script>
  function displayPopup() {
    var popup = document.getElementById("popupMsg");
    if (popup) {
      popup.style.display = "block";
      setTimeout(function () {
        popup.style.display = "none";
      }, 3000); // 3000 milliseconds (3 seconds) - adjust as needed
    }
  }

  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var loginBtn = document.getElementById('loginBtn');
    var form = document.querySelector('.needs-validation');

    if (loginBtn && form) {
      loginBtn.addEventListener('click', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        } else {
          form.submit();
        }
        form.classList.add('was-validated');
      });
    }
  })();
</script>

{% if error_msg %}
<div id="popupMsg" class="popup modal-body p-4">
  <p class="m-3 text-danger ">{{ error_msg }}</p>
</div>
<script>
  displayPopup();
</script>
{% endif %}
{% endblock %}